{% extends 'base.html' %}
{% block body %}

<div class="container my-5">
    <h1>About This Application</h1>
    <p>Hello! I am currently learning Flask, and this is a basic Todo app that I built as part of my learning journey.</p>
    <p>This application allows you to perform the following CRUD (Create, Read, Update, Delete) operations:</p>
    <ul>
        <li><strong>Create:</strong> Add new todo items.</li>
        <li><strong>Read:</strong> View all existing todo items.</li>
        <li><strong>Update:</strong> Edit the details of an existing todo item.</li>
        <li><strong>Delete:</strong> Remove a todo item that you no longer need.</li>
    </ul>
    <p>Thank you for checking out my project!</p>
</div>

{% endblock body %}
